In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tree
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv("../input/students-performance-in-exams/StudentsPerformance.csv")
#achar a média ariméticados três scores
df["mean score"] = df.iloc[:,5:8].sum(axis=1).divide(3)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

In [2]:


df = df.drop(["math score", "reading score", "writing score"], axis=1)

#transforma o mean score em algo binário
numero_de_linhas = len(df.index)
numero_de_colunas = len(df.columns)
for i in range(numero_de_linhas):
    if df.iloc[i, 5] >= 60:
        df.iloc[i, 5] = "aprovado"
    else:
        df.iloc[i, 5] = "reprovado"
        
df = df.rename(columns={"mean score":"aprovacao"})

#atribui a cada categoria um inteiro diferente já que o método fit não suporta strings
df["gender"] = pd.factorize(df.gender)[0]
df["race/ethnicity"] = pd.factorize(df["race/ethnicity"])[0]
df["parental level of education"] = pd.factorize(df["parental level of education"])[0]
df["lunch"] = pd.factorize(df["lunch"])[0]
df["test preparation course"] = pd.factorize(df["test preparation course"])[0]
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,aprovacao
0,0,0,0,0,0,aprovado
1,0,1,1,0,1,aprovado
2,0,0,2,0,0,aprovado
3,1,2,3,1,0,reprovado
4,1,1,1,0,0,aprovado
...,...,...,...,...,...,...
995,0,4,2,0,1,aprovado
996,1,1,4,1,0,reprovado
997,0,1,4,1,1,aprovado
998,0,3,1,0,1,aprovado
999,0,3,1,1,0,aprovado

In [3]:
x = df.drop(["aprovacao"], axis=1)
y = df["aprovacao"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# checando se há uma string
condicao = False
for i in range(numero_de_linhas):
    for j in range(numero_de_colunas-1):
        if type(x.iloc[i, j]) is str:
            condicao = True
            
if condicao == True:
    print("There's a string here")

    
model = LogisticRegression()
model.fit(x_train, y_train)
resultado = model.predict(x_test)
print(accuracy_score(resultado, y_test))
print(confusion_matrix(resultado, y_test))

0.69
[[125  45]
 [ 17  13]]

In [4]:
#Testando para um estudante aleatório
# male, group B, master's degree, standard, completed
dados = [[1, 1, 2, 0, 1]]
resultado = model.predict(dados)
resultado

array(['aprovado'], dtype=object)